@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  width: 70vw;
  height: 40px;
  background-color: #3065f8;
  color: #f6f6fe;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
button:hover {
  background-color: #628af9;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.email {
  font-family: "Open Sans", sans-serif;
  width: 70vw;
  height: 40px;
  padding-left: 20px;
}
.email::-webkit-input-placeholder {
  color: #bfbfbf;
}
.email::-moz-placeholder {
  color: #bfbfbf;
}
.email:-ms-input-placeholder {
  color: #bfbfbf;
}
.email::-ms-input-placeholder {
  color: #bfbfbf;
}
.email::placeholder {
  color: #bfbfbf;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
header .container .logo img {
  vertical-align: middle;
  width: 100px;
}
header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.section1 .container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  gap: 20px;
  padding: 20px;
}
.section1 .container .main-img img {
  max-width: 300px;
  -webkit-transition: 1s;
  transition: 1s;
}
.section1 .container .section1__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section1 .container .section1__info .heading-paragraph {
  font-size: 0.8rem;
  padding-inline: 30px;
}
.section1 .container .section1__info .section1__info--access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.section1 .container .section1__info .section1__info--access .email {
  border: 1px solid black;
}
.section1 .container .section1__info .section1__info--access .email:invalid {
  outline: none;
  border: 1px red solid;
}
.section1 .container .section1__info .section1__info--access .email:-moz-placeholder-shown {
  border: 1px solid black;
}
.section1 .container .section1__info .section1__info--access .email:-ms-input-placeholder {
  border: 1px solid black;
}
.section1 .container .section1__info .section1__info--access .email:placeholder-shown {
  border: 1px solid black;
}

.curve {
  background-image: url(./images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  background-size: cover;
  margin-top: 100px;
}

.section2 {
  background-color: #f9f8fe;
}
.section2 .second-img {
  margin-bottom: 30px;
}
.section2 .second-img img {
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 300px;
}
.section2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 100px;
  gap: 25px;
}
.section2 .container .section2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.section2 .clicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #3c9f8f;
  color: #3c9f8f;
  padding-bottom: 5px;
}
.section2 .clicker .clicker__title {
  font-size: 0.9rem;
}
.section2 .clicker .arrow img {
  vertical-align: middle;
}
.section2 .clicker .arrow img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}
.section2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  font-size: 0.7rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.section2 .card .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.section2 .card .card__info .card--img img {
  width: 30px;
  border-radius: 50%;
}
.section2 .card .card--name .whole-name {
  font-weight: 700;
}
.section2 .card .card--name .status {
  font-size: 0.5rem;
}

.section3 {
  height: 350px;
  background-color: #585989;
}
.section3 .container {
  padding: 40px 25px;
  text-align: center;
  color: white;
}
.section3 .container h2 {
  font-size: 1.1rem;
}
.section3 .container .section3-paragraph {
  margin-block: 20px;
  color: #f6f6fe;
}
.section3 .container .btn {
  margin-top: 5px;
}

footer {
  background-color: #070439;
}
footer .container {
  color: #bfbfbf;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 0.8rem;
}
footer .container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
footer .container .contact .reach-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
footer .container .contact .reach-us .phone, footer .container .contact .reach-us .email-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .container .contact .reach-us .email-logo img {
  width: 25px;
}
footer .container .contact .first-list ul, footer .container .contact .second-list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .container .contact .first-list ul li:hover, footer .container .contact .second-list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .container .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  gap: 20px;
  color: white;
}
footer .container .contact .social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px white solid;
  -webkit-transition: 500ms;
  transition: 500ms;
  vertical-align: middle;
}
footer .container .contact .social div:hover {
  background-color: white;
  cursor: pointer;
  color: #00252e;
}

@media (min-width: 1200px) {
  header .container {
    font-size: 1rem;
  }
  header .container nav ul {
    gap: 40px;
  }

  .container {
    width: 1170px;
    margin-inline: auto;
  }

  .section1 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section1 .container .main-img img {
    max-width: 600px;
  }
  .section1 .container .section1__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
  }
  .section1 .container .section1__info .heading {
    text-align: start;
    font-size: 2.2rem;
  }
  .section1 .container .section1__info .heading-paragraph {
    text-align: start;
    padding: 0;
    font-size: 1rem;
  }
  .section1 .container .section1__info .section1__info--access {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section1 .container .section1__info .section1__info--access .email {
    width: 300px;
  }
  .section1 .container .section1__info .section1__info--access .btn-section1 button {
    width: 200px;
  }

  .curve {
    background-image: url(./images/bg-curve-desktop.svg);
    height: 100px;
  }

  .section2 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section2 .container .second-img img {
    max-width: 600px;
  }
  .section2 .container .section2__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 700px;
  }
  .section2 .container .section2__info .section2__info--title {
    font-size: 1.8rem;
  }
  .section2 .container .section2__info .card {
    width: 300px;
  }

  .section3 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 25px;
    text-align: left;
    color: white;
  }
  .section3 .container .section3--header {
    width: 500px;
  }
  .section3 .container .section3--header h2 {
    font-size: 1.5rem;
  }
  .section3 .container .section3--header .section3-paragraph {
    margin-block: 20px;
    color: #f6f6fe;
  }
  .section3 .container .section3--access .email {
    width: 500px;
  }
  .section3 .container .section3--access .btn {
    margin-top: 10px;
  }

  footer .container .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  button {
    width: 300px;
  }

  .email {
    width: 300px;
  }
}